@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Paleta de cores 
#00f2fe - tom de ciano vibrante
*/

/* Reset básico */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Configurações básicas */
h2, p, label, button {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Fundo da página */
body {
    background-color: #00f2fe;
}

main {
    margin: 0px 5px;
}

.projeto-contagem {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.308);
    border-radius: 20px;
}

.projeto-contagem h2 {
    text-align: center;
    color: #14293A;
    margin-bottom: 14px;
}

.elementos {
    text-align: center;
}

div.campos label {
    display: block;
    margin: 8px;
    font-weight: bold;
    color: #024059;
}

div.campos input {
    padding: 12px;
    border: 2px solid #a5a5a5;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    border-radius: 8px;
}

/* Efeito ao clicar no input */
.campos input:focus {
    border-color: #0178f7;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    background-color: mintcream;
}

/* Botão */
button {
    width: 150px;
    height: 40px;
    margin: 20px;
    background-color: #0264ce;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Resultado */
div.res {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    font-size: 1.1em;
    font-family: "Nunito", sans-serif;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.308);
}

