@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* paleta de Cores 
#04BF8A, #03a376 */

* {
    margin: 0px;
    padding: 0px;
}

h1, p, label, input {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(to top, #04BF8A, #03a376);
}

body, html {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

main > h1 {
    text-align: center;
    padding: 14px;
    color: white;
}

.form-contagem {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 480px;
    overflow: hidden;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.247);
    transform: translate(-50%, -50%);
}

.imagem {
    display: block;
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/contagem.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contagem {
    display: block;
    float: left;
    width: 50%;
    padding-top: 12px;
}

div.campo {
    text-align: center;
}

div.campo label {
    display: block;
	color: #024059;
    margin-bottom: 4px;
	font-size: 1.1em;
}

.campo input[type="text"] {
	width: 45%;
    margin-bottom: 8px;
    padding: 5px;
    border: 2px solid #127369;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

.contagem > button {
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 40px;
    background-color: #D92525;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contagem > button:hover{
    background-color: #03A64A;
}

.res {
    margin: auto;
    font-size: 1.1em;
    overflow: scroll;
    width: 330px;
    height: 114px;
    padding: 7px;
    background: rgb(216, 224, 220);
}

.res > p {
    text-align: center;
    padding: 5px;
}