@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #3B8C66;
}

h2, p, label, input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section.projeto-c {
    max-width: 500px;
    height: 360px;
    margin: 15px auto;
    background-color: white;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
}

section.projeto-c > h2 {
    text-align: center;
    padding-top: 8px;
}

section.projeto-c > hr {
    padding: 2px;
    background: #A6BC09;
    border: none;
}

div.base-campos {
    text-align: center;
}

div.campos label {
    display: block;
    margin: 4px;
	color: #024059;
	font-size: 1.1em;
}

div.campos input[type="text"] {
	width: 35%;
    padding: 5px;
    border: 2px solid #127369;
    border-radius: 5px;
} 

div.campos input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

div.base-campos > button {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    background-color: #D92525;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

div.base-campos > button:hover {
    background-color: #03A64A;
}

div.res {
    max-width: 470px;
    height: 150px;
    margin: auto;
    padding: 15px;
    background-color: white;
    overflow: scroll;
    font-size: 1.3em;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
}